{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
		
        {% include 'head/header.html' %}
		
    </head>
    <body>
	
		<!-- Preloader -->
 		<div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                   
                </div>
            </div>
        </div>       
        <!-- End Preloader -->

		<!-- Header Area -->
		<header class="header" >
			{% include 'menu/navbar.html' with province_list=province_list %}
		</header>
		<!-- End Header Area -->

		<!-- Slider Area -->
		<section class="slider">
			{% include 'menu/slide.html' with img_list=img_list %}
		</section>
		<!--/ End Slider Area -->
		<!-- Start Internal News Area -->

			<section 
				class="blog section" 
				id="blog" 
				style="padding: 20px 0 !important;">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title" style="margin-bottom: 10px !important;">
								<h2 style="margin: 0px !important;">Internal News</h2>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						{% for inlist in internal_list %}
						<div class="col-lg-4 col-md-6 col-12">
							
							<!-- Single Blog -->
							<div class="single-news">
								<div class="news-head">
									<img src="{{ inlist.image.url }}" alt="#">
								</div>
								<div class="news-body">
									<div class="news-content">
										<div class="date">{{ inlist.create_at }}</div>
										<h2><a href="post/{{ inlist.id }}">{{ inlist.title }}</a></h2>
										<p class="text">{{ inlist.description }}</p>
									</div>
								</div>
							</div>
							<!-- End Single Blog -->
							
						</div>
						{% endfor %}
					</div>
						
					
				
				</div>
			</section>

		<!-- End Internal News Area -->
		<!-- Start External News Area -->	
			<section class="blog section" id="blog" style="padding: 20px 0 !important;">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title" style="margin-bottom: 10px !important;">
									<h2 style="margin: 0px !important;">External News</h2>
									<!--<img src="{% static 'img/g5.jpg' %}" alt="#">
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>-->
								</div>
							</div>
						</div>
					<hr>
						<div class="row">
							{% for external in external_list %}
							<div class="col-lg-4 col-md-6 col-12">
								<!-- Single Blog -->
								<div class="single-news">
									<div class="news-head">
										<img src="{{ external.image.url }}" alt="#">
									</div>
									<div class="news-body">
										<div class="news-content">
											<div class="date">{{ external.create_at }}</div>
											<h2><a href="post/{{ external.id }}">{{ external.title }}</a></h2>
											<p class="text">{{ external.description }}</p>
										</div>
									</div>
								</div>
								<!-- End Single Blog -->
							</div>
							{% endfor %}
						</div>
					</div>
				</section>	
		<!-- End External News Area -->	
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			{% include 'footer/footer.html' %}
		</footer>
		<!--/ End Footer Area -->
		
		{% include 'footer/load-js.html' %}
    </body>
</html>