<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head/header.html' %}
</head>
<body>
    <!-- start preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
            <div class="indicator"> 
                {% comment %} <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg> {% endcomment %}
            </div>
        </div>
    </div> 
     <!-- end preloader -->

    <header class="header">
        {% include 'menu/navbar.html' with province_list=province_list %}
    </header>

    <section class="slider">
        {% include 'menu/slide.html' with img_list=img_list %}
    </section>

    <footer id="footer" class="footer ">
        {% include 'footer/footer.html' %}
    </footer>
    {% include 'footer/load-js.html' %}
</body>
</html>