<!DOCTYPE html>
<html lang="en">
<head>
{% include 'head/header.html' %}
<style>
    a{
        text-decoration: none;
        color: white;
    }

</style>
</head>
<body>
    <!-- start preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
            <div class="indicator"> 
                {% comment %} <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg> {% endcomment %}
            </div>
        </div>
    </div> 
     <!-- end preloader -->

    <header class="header">
        {% include 'menu/navbar.html' with province_list=province_list %}
    </header>

    <section class="slider">
        {% include 'menu/slide.html' with slider=slider %}
    </section>

    <br>

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="max-width: none; display: flex">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" style="font-family: Noto Sans Khmer, sans-serif; color: royalblue;">ពត័មាន/Information</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" style="font-family: Noto Sans Khmer, sans-serif; color: royalblue;">ផែនទី/Map</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false" style="font-family: Noto Sans Khmer, sans-serif; color: royalblue;">រូបភាព/Photo</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false" style="font-family: Noto Sans Khmer, sans-serif; color: royalblue;">អ្នកស្មូន/Potter</button>
        </li>
    </ul>

    <br>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Information-Province -->
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% for pro in province %}
            <h2 class="h2">{{ pro.name }}</h2>
            <div>
                <p >{{ pro.description | safe }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- Map-Province -->
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% for province in province %}
            <iframe src="{{ province.google_map_url }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            {% endfor %}
        </div>
        <!-- Image-Province -->
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            {% for provinceimage in image_gallery %}
            <hr>
            <h3 style="display: flex;justify-content: center;font-family: Noto Sans Khmer, sans-serif;padding-bottom: 10px;">{{ provinceimage.title }}</h3>
            <div class="row">
                {% for img in provinceimage.imagegallery_set.all %}
                <div class="col-12 col-md-6 col-lg-4" style="padding: 10px;">
                    <img src="{{ img.image.url }}" alt="Image">
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!-- Potter-List -->
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <!-- Start Potter Area -->
                <section class="blog section" id="blog" style="padding: 20px 0 !important;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                        <div class="section-title" style="margin-bottom: 10px !important;">
                            <h2 style="margin: 0px !important;">Potter</h2>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                        {% for potter in potter_list %}
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- potter Blog -->
                            <div class="single-news">
                                <!-- slide in card -->
                                <div id="carouselExampleControls{{ potter.id }}" class="carousel slide" data-ride="carousel">
                                    <!-- enable auto slide delete data-interval="false" -->
                                    <div class="carousel-inner">
                                        {% for img in potter.image_set.all|slice:":3" %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">          
                                            <img class="d-block w-55" src="{{ img.image.url }}" alt="slide {{ forloop.counter }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls{{ potter.id }}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls{{ potter.id }}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!-- end slide in card -->
                                <div class="news-body">
                                    <div class="news-content">
                                        <div class="date">{{ potter.created_at }}</div>
                                        <h2>{{ potter.full_name }}</h2>
                                        <div class="text-description">
                                            <p>{{ potter.describe | safe }}</p>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary"><a href="/potterdetail/{{ potter.id }}" class="text-decoration-none">ពត័មាន</a></button>
                                    <!-- Button trigger modal Image -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalImage">
                                        រូបភាព
                                    </button>
                                    <!-- Button trigger modal Video -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalVideo">
                                        វីដេអូរ
                                    </button>
                                </div> 
                            </div>
                            <!-- End potter Blog --> 
                        </div> 
                        {% endfor %}            
                </div>
            </div>
        </section>
        <!-- End potter Area -->
        </div>
    </div>
</div>

<!-- Modal​​ Image Potter -->
<div class="modal fade" id="ModalImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="row">
                {% for image in imgpotter_list %}
                <div class="col-6 col-md-4">
                    <img src="{{ image.image.url }}" alt="">
                </div>
                {% endfor %}
              </div>
        </div>
    </div>
    </div>
</div>
<!-- End Modal​​ Image -->

<!-- Modal​​ Video Potter -->
<div class="modal fade" id="ModalVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            {% for video in potter_list %}
            <iframe width="560" height="315" src="{{ video.youtube_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
<!-- End Modal​​ Video -->



<footer id="footer" class="footer ">
{% include 'footer/footer.html' %}
</footer>
    
{% include 'footer/load-js.html' %}

</body>
</html>