{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Title -->
        <title>Inventory_of_pottery_maker</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Nokora:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/app.css' %}">

        <style> 
            * {
                /* font-family: 'Metal'; */
                /* font-family: 'Hanuman', serif; */
                /* font-family: 'Nokora'; */
                font-family: 'Kantumruy Pro', sans-serif;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="mb-3 mt-4 ceramic-app-form-title-header">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <a href="/"><img src="{% static 'img/logo-2.png' %}" width="100" alt="#"></a>
                        <a href="/"><img src="{% static 'img/logo-7.png' %}" width="150" alt="#"></a>
                        <a href="/"><img src="{% static 'img/waseda_logo.jpeg' %}" width="150" alt="#"></a>
                        <a href="/"><img src="{% static 'img/rufa_logo.png' %}" width="80" alt="#"></a>
                    </div>
                </div>
                <h4 id="inventory-pottery-title" style="font-family: 'Moul', serif!important; text-align: center;">បញ្ជីសារពើភណ្ឌអ្នកផលិតកុលាលភាជន៍ក្នុងប្រទេសកម្ពុជា</h4>
                <p 
                    style="
                        font-size: 20px !important;
                        text-align: center;
                    "
                >Inventory of Pottery Maker in Cambodia</p>
            </div>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-4 mb-3">
                    <label for="{{ form.inventory_number.id_for_label }}" class="">{{ form.inventory_number.label }}</label>
                    {{ form.inventory_number }}
                    {{ form.inventory_number.errors }}
                </div>

                <div class="col-md-4 mb-3">
                    <label for="{{ form.created_at.id_for_label }}" class="">{{ form.created_at.label }}</label>
                    {{ form.created_at }}
                    {{ form.created_at.errors }}

                </div>

                <h3 class="mb-3 mt-4" style="font-weight: bold;">I. ព័ត៍មានទូទៅរបស់ស្មូន / General information</h3>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="row mb-3">
                            <div class="col-md-6 mb-3">

                                <label for="{{ form.full_name.id_for_label }}" class="">{{ form.full_name.label }}</label>
                                {{ form.full_name }}
                                {{ form.full_name.errors }}
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="{{ form.gender.id_for_label }}">ភេទ / Gender</label>
                                {{ form.gender }}
                                <!-- Display error messages for gender field -->
                                {{ form.gender.errors }}
                            </div>
                           
                            <div class="col-md-3 mb-3">
                                <label for="{{ form.dob.id_for_label}}">{{ form.dob.label}}</label>
                                {{ form.dob }}
                                {{ form.dob.errors }}
                            </div>
                            <!-- <div class="col-md-3 mb-3">
                                <label>អាយុ / Age</label>
                                <input type="text" class="form-control" readonly placeholder="មិនអាចវាយបញ្ចូល">
                            </div> -->
                        </div>

                        <!-- Place of Birth -->
                        <div class="row">
                            <p style="font-weight: bold;">ទីកន្លែងកំណើត / Place of Birth</p>
                            <div class="col-md-3 mb-3">
                                <label>ខេត្ត / Province</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label>ស្រុក / District</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>ឃុំ / Commune</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label>ភូមិ / Village</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>
                        </div>
                        <!-- End POB -->

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.duration.id_for_label }}" class="">{{ form.duration.label }}</label>
                                {{ form.duration }}
                                {{ form.duration.errors }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.amount_of_pottery.id_for_label }}" class="">{{ form.amount_of_pottery.label }}</label>
                                {{ form.amount_of_pottery }}
                                {{ form.amount_of_pottery.errors }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 mb-3">
                                <!-- <label>ការបន្តចំណេះ / Inheritance</label>
                                <input type="text" class="form-control" placeholder="សូមវាយបញ្ចូល"> -->
                                <label for="{{ form.inheritance.id_for_label }}" class="">{{ form.inheritance.label }}</label>
                                {{ form.inheritance }}
                                {{ form.inheritance.errors }}
                            </div>
                            <div class="col-md-6">
                                <label for="{{ form.type_of_pottery.id_for_label }}">{{ form.type_of_pottery.label }}                                </label>
                                {{ form.type_of_pottery }}
                            </div>
                        </div>
                        <!-- Current Address -->
                        <div class="row">
                            <p style="font-weight: bold;">
                                ទីលំនៅបច្ចុប្បន្ន / Current Location
                                </p>
                            <div class="col-md-3 mb-3">
                                <label>ខេត្ត / Province</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label>ស្រុក / District</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>ឃុំ / Commune</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label>ភូមិ / Village</label>
                                    <select class="form-control">
                                        <option selected>ជ្រើសរើស...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label>និយាមការទីតាំងផ្ទះ / Coordinate</label>
                            <div class="col-md-6">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">X</span>
                                    <input type="number" class="form-control" placeholder="សូមវាយបញ្ចូល" aria-describedby="addon-wrapping">
                                  </div>
                                  
                            </div>
                            <div class="col-md-6">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Y</span>
                                    <input type="number" class="form-control" placeholder="សូមវាយបញ្ចូល" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label>តំណភ្ជាប់ / URL Google Map</label>
                                <input type="url" class="form-control" placeholder="សូមវាយបញ្ចូល">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label style="font-weight: bold;">រូបភាព / Photo</label>
                        <div class="row mb-3">
                            <div class="col">
                                <label>រូបថតទូទៅរបស់ស្មូន</label>
                                 <!-- Image Input 1 -->
                                <img 
                                    class="mb-2"
                                    id="imagePreview1" 
                                    src="#" 
                                    alt="" style="max-width: 254px; max-height: 300px; border: 1px solid #d7d7d7;"
                                />

                                <input 
                                    type="file" 
                                    id="id_image1" 
                                    name="image1" 
                                    class="form-control"
                                    accept="image/*" 
                                    onchange="previewImage('id_image1', 'imagePreview1')"
                                /> 

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label>រូបថតទូទៅនៃផ្ទះស្មូន</label>
                                {% comment %} <input type="file" class="form-control-file border"> {% endcomment %}
                                <!-- Image Input 2 -->
                                <img id="imagePreview2" 
                                    class="mb-2"
                                    src="{% if form.instance.image2 %}{{ form.instance.image2.url }}{% else %}{% static 'img/default_image1.png' %}{% endif %}" 
                                    alt="" style="display: none; max-width: 200px; max-height: 200px;">
                                <input type="file" class="form-control" id="id_image2" name="image2" accept="image/*" onchange="previewImage('id_image2', 'imagePreview2')">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label>រូបថតទូទៅនៃកុលាលភាជន៍</label>
                                <!-- Image Input 3 -->

                                <img id="imagePreview3" class="mb-2" src="#" alt="Image Preview 3" style="display: none; max-width: 200px; max-height: 200px;">
                                <input type="file" class="form-control"  id="id_image3" multiple name="image3" accept="image/*" onchange="previewImage('id_image3', 'imagePreview3')">

                              
                            </div>
                        </div>
        
                    </div>

                </div>
        
                <!-- Section II -->

                <div class="row mt-4">
                    <div class="col-md-12">
                        <h3 style="font-weight: bold;"> II. របៀបនៃការផលិត / Technique</h3>
                    </div>
                    <div class="col-md-12 mb-4">
                        <button type="button" class="btn btn-success btn-sm" onclick="addFields()">បន្ថែម / Add</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="removeFields()">លុប / Remove</button>
                    </div>
                </div>

                <!-- User click to add input data of making pottery -->
                <div id="field-container">
                    <!-- Initial set of input fields -->
                    <div class="form-fields">
                            <div class="col-md-12 mb-3">
                                <label for="technique-title" style="font-weight: bold;">1. ចំណងជើង / Title</label>
                                <input type="text" name="title[]" class="form-control" placeholder="សូមវាយបញ្ចូល">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="description">ពិពណ៌នា / Description</label>
                                <textarea name="description[]" class="form-control" rows="5"></textarea>                
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="photo">រូបថត / Photo</label>
                                <input type="file" name="photo[]" class="form-control">
                            </div>
                            <hr>
                    </div>
                </div>

                <!-- <ol type="1" start="1">
                    <b><li>សម្ភារៈ / Tool</li></b>
                </ol> -->

                <!-- <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ពិពណ៌នា / Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>                    
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">រូបថត / Photo</label>
                        <input type="file" class="form-control">
                    </div>
                </div> -->

                <!-- <ol type="1" start="2">
                    <b><li>ការលាយដី / Perparing of clay</li></b>
                </ol>

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ពិពណ៌នា / Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>                    
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">រូបថត / Photo</label>
                        <input type="file" class="form-control-file">
                    </div>
                </div>

                {% comment %} បច្ចេកទេសនៃការផលិត {% endcomment %}

                <ol type="1" start="3">
                    <b><li>បច្ចេកទេសនៃការផលិត / Technique of making pottery</li></b>
                </ol>

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">វិធីសាស្រ្តនៃការផលិត / Production method</label>
                        <input type="text" class="form-control">        
                    </div>
                    {% comment %} <div class="col">
                        <label for="exampleFormControlTextarea1">None</label>
                        <input type="text" class="form-control">        
                    </div> {% endcomment %}
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ប្រភេទ / Type</label>
                        <input type="text" class="form-control">        
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ទំហំ / Dimension</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="អង្កត់ផ្ចិត x កម្ពស់ x កម្រាស់ / Diameter x Height x Thickness">        
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ពិពណ៌នា / Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>                    
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">រូបថត / Photo</label>
                        <input type="file" class="form-control-file">
                    </div>
                </div>
                {% comment %} បច្ចេកទេសនៃការផលិត {% endcomment %}


                <ol type="1" start="4">
                    <b><li>ក្បាច់លម្អ / Decoration</li></b>
                </ol>

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ពិពណ៌នា / Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>                    
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">រូបថត / Photo</label>
                        <input type="file" class="form-control-file">
                    </div>
                </div>
                <ol type="1" start="5">
                    <b><li>ការដុត / Firing</li></b>
                </ol>

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">ពិពណ៌នា / Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>                    
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">រូបថត / Photo</label>
                        <input type="file" class="form-control-file">
                    </div>
                </div> -->

                <!-- Captcha form -->
                <div class="captcha_wrapper">
                    <!-- {{ form }} -->
                </div>
                <!-- End Captcha form -->
                
                <!-- Submit button -->
                 <div class="row mb-3 mt-4">
                    <div class="col">
                        <input type="submit" class="btn btn-primary btn-sm" value="រក្សារទុក / SAVE">
                    </div>
                    <div class="col">
                    </div> 
                </div>
                <!-- End submit button -->

            </form>
        </div>

        <!-- Custom scripts -->
        <script>
            function previewImage(inputId, previewId) {
                var input = document.getElementById(inputId);
                var preview = document.getElementById(previewId);
                
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    }
                    
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function addFields() {
                const container = document.getElementById('field-container');
                const clone = container.firstElementChild.cloneNode(true);
                
                // Increment the index for the new set of fields
                const newIndex = container.childElementCount + 1;

                // Update the label for the title field with the new index
                const titleLabel = clone.querySelector('label[for="technique-title"]');
                titleLabel.textContent = `${newIndex}. ចំណងជើង / Title `;

                // Clear the input values in the cloned fields
                const inputFields = clone.querySelectorAll('input, textarea');
                inputFields.forEach(field => {
                    field.value = '';
                });
                container.appendChild(clone);
            }

            function removeFields() {
                const container = document.getElementById('field-container');
                const forms = container.querySelectorAll('.form-fields');
                if (forms.length > 1) {
                    container.removeChild(forms[forms.length - 1]);
                }
            }

        </script>

        <!-- Bootstrap 5.0.2 JS -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>

    </body>
    
</html>