<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head/header.html' %}
</head>
<body>

    <!-- Preloader -->
 		<div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    {% comment %} <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg> {% endcomment %}
                </div>
            </div>
        </div>       
        <!-- End Preloader -->

    <!-- Header Area -->
		<header class="header" >
			{% include 'menu/navbar.html' with province_list=province_list %}
		</header>
		<!-- End Header Area -->
        <div class="container bg-secondary p-0">
            <div class="tab-content" id="nav-tabContent">
                <div class="p-3 my-4 bg-success text-white text-natocm-title display-6">
                  {{ post_list.title }}
                </div>
                <div class="tab-pane fade show active text-natcom-primary" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                  {{ post_list.body | safe }}
                </div>
            </div>
        </div>
        

        <!-- Footer Area -->
		<footer id="footer" class="footer ">
			{% include 'footer/footer.html' %}
		</footer>
		<!--/ End Footer Area -->
		
		{% include 'footer/load-js.html' %}
</body>
</html>