<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head/header.html' %}
</head>
<body>
    <header class="header">
        {% include 'menu/navbar.html' %}
    </header>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62749.57605668433!2d104.12695798745784!3d10.591015444163363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310836897d5fd26f%3A0x6f50ed443bd607ff!2sKrong%20Kampot!5e0!3m2!1sen!2skh!4v1707125867410!5m2!1sen!2skh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
        <div class="col-6">
            </h2><b>Description</b></h2>
            <p>
                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available.
            </p>
            <p>
                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available.
            </p>
        </div>
    </div>
    {% comment %} <div class="row">
        <div class="col-6">
            <h1>Map</h1>
        </div>
        <div class="col-6">
            <h1>Description</h1>
        </div>
    </div> {% endcomment %}
</div>
</body>
</html>
