{% load static %}
<!-- Header Inner -->
<div class="header-inner">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Start Logo -->
                    <div class="logo">
                        <a href=""><img src="{% static 'img/logo.png' %}" width="100" alt="#"></a>
                    </div>
                    <!-- End Logo -->
                    <!-- Mobile Nav -->
                    <div class="mobile-nav"></div>
                    <!-- End Mobile Nav -->
                </div>
                <div class="col-lg-10 col-md-10 col-12">
                    <!-- Main Menu -->
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav menu">
                                <li >
                                    <a href="home">Home</a>
                                </li>
                                <li>
                                    <a href="#">Ancient Ceramic </a>
                                    <ul class="dropdown">
                                        <li><a href="">Pre-History</a></li>
                                        <li><a href="">Post-Angkor</a></li>
                                        <li><a href="">Pre-Angkor</a></li>
                                        <li><a href="">Angkor</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Traditional Ceramic </a>
                                    <ul class="dropdown">
                                        {% for province in province_list %}
                                        <li><a href="potter?id_pro={{ province }}">{{ province }}</a></li>
                                        <!-- <li><a href="">Kampong Chhnang</a></li>
                                        <li><a href="">Kampong Spue</a></li>
                                        <li><a href="">Prey Veng</a></li>
                                        <li><a href="">Rotanakiri</a></li>
                                        <li><a href="">kompot</a></li> -->
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Project & Events <i class="icofont-rounded-down"></i>
                                    </a>
                                
                                    <ul class="dropdown">
                                        <li><a href="potter-inventory">Invetories</a></li>

                                        
                                    </ul>
                                </li>
                                
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--/ End Main Menu -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Header Inner -->
