{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potter Inventory</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Content:wght@400;700&display=swap" rel="stylesheet">

    <style>
        * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Content', sans-serif;
        } 
    </style>
</head>
<body>
    <div class="container" style="text-align: center;">
        <img src="{% static 'img/check.png' %}" alt="ceramic potter" width="200px">
        <h1 style="color: #029045;">បញ្ជីសារពើភណ្ឌអ្នកផលិតកុលាលភាជន៍ បានរក្សារទុកដោយជោគជ័យ។</h1> <br>
        <h2 style="color: #333;">Potter Inventory have been saved successfully.</h2>
        <br>
        <br>
        <a href="/" style="text-decoration: none;">Back to home / ត្រឡប់ទៅទំព័រដើម</a> <br><br>
        <a href="/potter" style="text-decoration: none;">Back to Potter / ត្រឡប់ទៅ Potter</a>

    </div>
</body>
</html>